@import "../../partials/_variables.scss";

.search {
  color: $primary-text;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 2rem;
  position: relative;
  
  &__bar {
    background-color: transparent;
    width: 100%;
    padding-left: 2.5rem;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    position: absolute;
  }
}