@font-face {
  font-family: "Outfit";
  src: url(../assets/fonts/Outfit-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url(../assets/fonts/Outfit-Thin.ttf);
  font-weight: 200;
  font-style: normal;
}
