@import "./partials/_mixins.scss";
@import "./partials/_variables.scss";
@import "./partials/_general.scss";
@import "./partials/_fonts.scss";

.App {
  display: flex;
  flex-direction: column;
  background-color: $primary-background;
  padding: 1rem;
  font-family: "Outfit";
}
